// Required
@import "../../node_modules/bootstrap/scss/functions";

// Default variable overrides
$body-bg: #2245A5;
$body-color: #000;
$primary: #88B3CD;
$secondary: #FFE1E3;

// Required
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

$navbar-dark-active-color: $primary;
$navbar-dark-color: $primary -50;



.navbar-collapse {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    justify-content: flex-end;
}

.navbar-dark {
    color: #FFF;
    font-family: 'Times New Roman', Times, serif;
}

.bg-dark {
    background-color: #2245A5 !important;
}

.navbar-brand {
    font-size:3rem !important;
    padding-left:1.5rem;
}

.nav-item {
    margin-left: 10px !important;
    margin-right: 20px !important;
    color:#FFF;
}

.active {
    font-weight:bold !important;
}





@import "../../node_modules/bootstrap/scss/bootstrap";