// Required
@import "../../node_modules/bootstrap/scss/functions";

// Default variable overrides
$body-bg: #f5eec6;
$body-color: #000;
$primary: #B1CFDF;
$secondary: #FFE1E3;

// Required
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

$navbar-dark-active-color: $white;
$navbar-dark-color: $primary;



.navbar-collapse {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    justify-content: flex-end;
}

.navbar-light {
    color: #FFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.bg-light {
    background-color: #878787 !important;
}

.navbar-brand {
    font-size: 2rem !important;
    padding-left: 1.5rem;
}

.nav-item {
    margin-left: 10px !important;
    margin-right: 10px !important;
    color: #FFF;
}

.navbar-toggler {
    color: #717171 !important;
}

.active {
    font-weight: bold !important;
}

ul {
    list-style:none;
  }
  ul li{
    display:inline-block; 
    padding:0 7px; 
    position:relative;
  }
  ul li:not(:last-child)::after{
    content:""; 
    border:1px solid #e2e2e2;
    border-width: 1px 1px 0 0;
    position:absolute; 
    right: -6px;
    top:0; 
    height:100%;
  }


@import "../../node_modules/bootstrap/scss/bootstrap";